<div id="<%= dom_id dnd_character %>">
  <p>
    <strong>Character name:</strong>
    <%= dnd_character.character_name %>
  </p>

  <p>
    <strong>Character class:</strong>
    <%= dnd_character.character_class %>
  </p>

  <p>
    <strong>Initiative:</strong>
    <%= dnd_character.initiative %>
  </p>

</div>
