<h1>Editing dnd character</h1>

<%= render "form", dnd_character: @dnd_character %>

<br>

<div>
  <%= link_to "Show this dnd character", @dnd_character %> |
  <%= link_to "Back to dnd characters", dnd_characters_path %>
</div>
