<p style="color: green"><%= notice %></p>

<h1>Dnd characters</h1>

<div id="dnd_characters">
  <% @dnd_characters.each do |dnd_character| %>
    <%= render dnd_character %>
    <p>
      <%= link_to "Show this dnd character", dnd_character %>
    </p>
  <% end %>
</div>

<%= link_to "New dnd character", new_dnd_character_path %>
